# Local folders
.idea/
data/
results/
temp/
outputs/
resources/
__pycache__/

# Datasets and large files
*.ply
*.e57
*.jpeg
*.jpg

# Tool caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Build artifacts (setuptools + hatchling)
src/*.egg-info/
dist/
build/
